@model CleverBartender_v2.Models.Drink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name of the drink
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    @*<h4>Ingredients and Quantities</h4>*@
    @foreach (var item in ViewData["recipe"] as List<OrderDrink>)
    {
        <h4>@item.Name</h4>
        @item.Quantity<text>oz</text><br>
        <text>Pump number :</text> @item.PumpNumber <br>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>